:root{
    --base: #fc8181;
    --spacing: 10px;
    --blur: 0.5px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl{
    color: var(--base);
}

button{
    background: var(--base);
}